* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 18px;
}

window#waybar {
    background-color: rgba(25, 23, 36, 0.5);
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 25px;
    margin-left: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 1px 15px 0 15px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    padding: 1px 15px 0 15px;
    background: #ffffff;
    color: #000000;
    border-radius: 25px;
}

#workspaces button.active {
    padding: 1px 15px 0 15px;
    background: #ffffff;
    color: #000000;
    border-radius: 25px;
}

#workspaces button.urgent {
    padding: 1px 15px 0 15px;
    background-color: #eb4d4b;
    color: #ffffff;
    border-radius: 25px;
}

/* #mode { */
/*     background-color: transparent; */
/* } */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #clock {
    margin-right: 10px;
}

#clock {
    background-color: transparent;
    font-weight: bold;
}

#battery {
    background-color: transparent;
    color: #21c236;
}

#battery.charging, #battery.plugged {
    background-color: transparent;
    color: #23c3db;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: transparent;
    color: #c91414;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding: 0 15px;
}

#power-profiles-daemon.performance {
    background-color: transparent;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: transparent;
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    background-color: transparent;
    color: #2ecc71;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: #ffffff;
}

#memory {
    background-color: transparent;
    color: #ffffff;
}

#network {
    background-color: transparent;
    color: #ffffff;
}

#network.disconnected {
    background-color: transparent;
    color: #ffffff;
}

#pulseaudio {
    background-color: transparent;
    color: #ffffff;
}

#pulseaudio:hover {
    background-color: transparent;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #ffffff;
}

#custom-media {
    background-color: transparent;
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: transparent;
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
